<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/mensajes">
      <ion-icon slot="icon-only" ios="mail" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div id="container">
    <section class="maintitle  flexhor paddinghor"> 
      <div>
         <h1>Verificar disponibilidad</h1>
      </div>
      <div>
        <ion-button size="large"  routerLink="/planearviaje">
          <ion-icon slot="icon-only" ios="arrow-back" md="settings-sharp"></ion-icon>
        </ion-button>
      </div>
    </section>
    <section class="paddinghor topborder">   
      <div class="results"> 
        <div>
          <div class="frienditem2"> 
            <img src="../../assets/user.png" /> 
            <ion-datetime-button datetime="datetime"></ion-datetime-button>         
          </div> 
          <div class="frienditem2"> 
            <img src="../../assets/user2.png" />
            <ion-datetime-button datetime="datetime"></ion-datetime-button>   
          </div> 
          <div class="frienditem2"> 
            <img src="../../assets/user3.png" />
            <ion-datetime-button datetime="datetime"></ion-datetime-button>   
          </div> 
          <div class="frienditem2"> 
            <img src="../../assets/user4.png" />
            <ion-datetime-button datetime="datetime"></ion-datetime-button>   
          </div>  
        </div> 
        <ion-button color="secondary"   routerLink="/buscarvuelos">Buscar vuelos</ion-button>
      </div>
    </section> 
  </div>
</ion-content>

   <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime"></ion-datetime>
              </ng-template>
            </ion-modal>