<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/mensajes">
      <ion-icon slot="icon-only" ios="mail" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div id="container">
    <section class="profile flexhor paddinghor">
      <div>
        <img src="../../assets/user.png"/>
      </div>
      <div>
        <h2>Camila Ramirez</h2>
        <p>cami&#64;gmail.com</p>
        <p>9 123 456 678</p>
      </div>
      <div>
        <ion-button size="large">
          <ion-icon slot="icon-only" ios="pencil" md="settings-sharp"></ion-icon>
        </ion-button>
      </div>
    </section>
    <section class="paddinghor topborder"> 
      <div class="flexhor sectionTitle">
        <div>
          <h2>Mis Viajes</h2> 
        </div>
        <div>
          <ion-button color="secondary" routerLink="/seleccionardestino" style="width:100%;text-align:center;" >Crear viaje</ion-button>
        </div>
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <th>Viaje</th>
              <th>Fecha</th>
              <th colspan="3"> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cancun 1</td>
              <td>12/03/2023</td>
              <td>                              
                <ion-button size="large" color="default" routerLink="/detalle" >
                  <ion-icon slot="icon-only" ios="eye" md="settings-sharp"></ion-icon>
                </ion-button>
              </td> 
              <td>                              
                <ion-button size="large" color="default">
                  <ion-icon slot="icon-only" ios="trash" md="settings-sharp"></ion-icon>
                </ion-button>
              </td>
            </tr> 
          </tbody>
        </table> 
      </div>
    </section>
    <section class="paddinghor topborder"> 
      <div class="flexhor sectionTitle">
        <div>
          <h2>Mis amigos</h2> 
        </div> 
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th colspan="2"> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Pedro</td>
              <td>Pascal</td> 
              <td>                              
                <ion-button size="large" color="default">
                  <ion-icon slot="icon-only" ios="eye" md="settings-sharp"></ion-icon>
                </ion-button>
              </td>
              <td>                              
                <ion-button size="large" color="default">
                  <ion-icon slot="icon-only" ios="trash" md="settings-sharp"></ion-icon>
                </ion-button>
              </td>
            </tr>  
            <tr>
              <td>Pedro</td>
              <td>Pascal</td> 
              <td>                              
                <ion-button size="large" color="default">
                  <ion-icon slot="icon-only" ios="eye" md="settings-sharp"></ion-icon>
                </ion-button>
              </td>
              <td>                              
                <ion-button size="large" color="default">
                  <ion-icon slot="icon-only" ios="trash" md="settings-sharp"></ion-icon>
                </ion-button>
              </td>
            </tr>           
          </tbody>
        </table> 
      </div>
    </section>
  </div>
</ion-content>
