<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/votacion">
      <ion-icon slot="icon-only" ios="star-half" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div id="container">
   
    <section class="   "> 
      
      <div class="flexhor sectionTitle  "> 
        <div>
           <h2>Mi perfil</h2>
        </div>
        <div>
          <ion-button size="large"  routerLink="/">
            <ion-icon slot="icon-only" ios="settings" md="settings-sharp"></ion-icon>
          </ion-button>
        </div>
      </div>
    </section>
    <section>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ currentUser?.name }} {{ currentUser?.apellido }}</ion-card-title>
          <ion-card-subtitle>{{ currentUser?.email }}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <img [src]="currentUser?.foto" alt="Profile Picture"/> 
          <p>Telefono: {{ currentUser?.telefono }}</p>
          <p>Desponible desde: {{ currentUser?.libre_desde }}</p>
          <p>Disponible hasta: {{ currentUser?.libre_hasta }}</p>
          <p>Vegano: {{ currentUser?.vegano ? 'Si' : 'No' }}</p>
          <p>Mascotas: {{ currentUser?.mascotas ? 'Si' : 'No' }}</p>
          <p>Halal: {{ currentUser?.halal ? 'Si' : 'No' }}</p>
        </ion-card-content>
      </ion-card> 
    </section>
  </div>
</ion-content>
