<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/mensajes">
      <ion-icon slot="icon-only" ios="mail" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div id="container">
   
    <section class="   "> 
      <div class="flexhor sectionTitle">
        <div>
          <h2>
            <ion-icon name="compass"></ion-icon>Destinos populares</h2> 
        </div> 
      </div>
      <div>
        <section class="   ">  
          <div   >
            <ion-list>
              <ion-item class="bgwhite"> 
                <ion-select label="Continente" label-placement="Floating" placeholder="Continente" id="continente">
                </ion-select>                
              </ion-item>
            
              <ion-item class="bgwhite"> 
                
                <ion-select label="País" label-placement="Floating" placeholder="País" id="pais">
                </ion-select>

              </ion-item>
             
            </ion-list>
          </div> 
          <div class="results"> 
            <ion-card  *ngFor="let destino of destinos">
              <img alt="{{ destino.nombre }}" src="{{ destino.foto }}" />
              <ion-card-header>
                <ion-card-title>{{ destino.nombre }}</ion-card-title> 
              </ion-card-header>
            
              <ion-card-content>
                <span *ngFor="let pais of destino.paises; let i = index">
                  {{ pais.nombre }}<span *ngIf="i < destino.paises.length - 1">, </span>
                </span>
              </ion-card-content>
            </ion-card> 
          </div>
        </section> 
      </div>
    </section>
  </div>
</ion-content>
