 

<ion-content [fullscreen]="true" > 
  <div class="login">

    <img src="../../assets/logo2.png"/>
    <ion-item>
      <ion-input label="Usuario" labelPlacement="stacked" placeholder="Usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Password" value="NeverGonnaGiveYouUp">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-button expand="block" routerLink="" >Ingresar</ion-button>
  </div>
</ion-content>
