<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/mensajes">
      <ion-icon slot="icon-only" ios="mail" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div id="container">
    <section class="maintitle  flexhor paddinghor"> 
      <div>
         <h1>Buscar vuelos</h1>
      </div>
      <div>
        <ion-button size="large"  routerLink="/verificardisponibilidad">
          <ion-icon slot="icon-only" ios="arrow-back" md="settings-sharp"></ion-icon>
        </ion-button>
      </div>
    </section>
    <section class="paddinghor topborder">   
      <div class="results">  
        
        <ion-radio-group value="strawberries"  [(ngModel)]="isRadioButtonSelected">
        <table>
          <thead>
            <tr>
              <th> </th>
              <th>Aerolinea</th>
              <th>Salida</th>
              <th>Llegada</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ion-radio></ion-radio>
              </td>
              <td>Qantas</td>
              <td>12/02/2020</td>
              <td>12/02/2020</td>
              <td>                
                                              
                <ion-button size="large" color="default"  (click)="toggleDetail($event)">
                  <ion-icon slot="icon-only"  ios="eye" md="settings-sharp"></ion-icon>
                </ion-button> 
              </td>   
            </tr>  
            <tr class="detail">
              <td colspan="5">
                <table>
                  <tr>
                    <td>Vuelo de ida</td>
                    <td>lun, 27 may</td>
                  </tr>
                  <tr>
                    <td>80 kg de CO2e</td>
                    <td> -6% de emisiones</td>
                  </tr>
                  <tr>
                    <td>8:45 p.m.Aeropuerto de Brisbane (BNE)</td>
                    <td>Tiempo de viaje: 1 h 30 min</td>
                  </tr>
                  <tr>
                    <td>10:15 p.m.Aeropuerto Internacional Kingsford Smith (SYD)</td>
                    <td>Jetstar</td>
                  </tr>
                  <tr>
                    <td>Clase turista</td>
                    <td>Airbus A320JQ 825</td>
                  </tr>
                  <tr>
                    <td>Poco espacio para extender las piernas (74 cm)</td>
                    <td>Estimación de emisiones: 80 kg de CO₂e</td>
                  </tr>
                  <tr>
                    <td>Vuelo de regreso</td>
                    <td>vie, 31 may</td>
                  </tr>
                  <tr>
                    <td>86 kg de CO2e</td>
                    <td>Emisiones prom.</td>
                  </tr>
                  <tr>
                    <td>7:30 p.m.Aeropuerto Internacional Kingsford Smith (SYD)</td>
                    <td>Tiempo de viaje: 1 h 30 min</td>
                  </tr>
                  <tr>
                    <td>9:00 p.m.Aeropuerto de Brisbane (BNE)</td>
                    <td>Virgin Australia</td>
                  </tr>
                  <tr>
                    <td>Clase turista</td>
                    <td>Boeing 737VA 985</td>
                  </tr>
                  <tr>
                    <td>Espacio promedio para extender las piernas (79 cm)</td>
                    <td>Asientos con puertos USB</td>
                  </tr>
                  <tr>
                    <td>Se incluye transmisión multimedia a dispositivos</td>
                    <td>Estimación de emisiones: 86 kg de CO₂e</td>
                  </tr>
                </table>  
              </td>   
            </tr> 
            <tr>
              <td>
                <ion-radio></ion-radio>
              </td>
              <td>Qantas</td>
              <td>12/02/2020</td>
              <td>12/02/2020</td>
              <td>                
                                              
                <ion-button size="large" color="default"  (click)="toggleDetail($event)">
                  <ion-icon slot="icon-only"  ios="eye" md="settings-sharp"></ion-icon>
                </ion-button> 
              </td>   
            </tr>  
            <tr class="detail">
              <td colspan="5">
                <table>
                  <tr>
                    <td>Vuelo de ida</td>
                    <td>lun, 27 may</td>
                  </tr>
                  <tr>
                    <td>80 kg de CO2e</td>
                    <td> -6% de emisiones</td>
                  </tr>
                  <tr>
                    <td>8:45 p.m.Aeropuerto de Brisbane (BNE)</td>
                    <td>Tiempo de viaje: 1 h 30 min</td>
                  </tr>
                  <tr>
                    <td>10:15 p.m.Aeropuerto Internacional Kingsford Smith (SYD)</td>
                    <td>Jetstar</td>
                  </tr>
                  <tr>
                    <td>Clase turista</td>
                    <td>Airbus A320JQ 825</td>
                  </tr>
                  <tr>
                    <td>Poco espacio para extender las piernas (74 cm)</td>
                    <td>Estimación de emisiones: 80 kg de CO₂e</td>
                  </tr>
                  <tr>
                    <td>Vuelo de regreso</td>
                    <td>vie, 31 may</td>
                  </tr>
                  <tr>
                    <td>86 kg de CO2e</td>
                    <td>Emisiones prom.</td>
                  </tr>
                  <tr>
                    <td>7:30 p.m.Aeropuerto Internacional Kingsford Smith (SYD)</td>
                    <td>Tiempo de viaje: 1 h 30 min</td>
                  </tr>
                  <tr>
                    <td>9:00 p.m.Aeropuerto de Brisbane (BNE)</td>
                    <td>Virgin Australia</td>
                  </tr>
                  <tr>
                    <td>Clase turista</td>
                    <td>Boeing 737VA 985</td>
                  </tr>
                  <tr>
                    <td>Espacio promedio para extender las piernas (79 cm)</td>
                    <td>Asientos con puertos USB</td>
                  </tr>
                  <tr>
                    <td>Se incluye transmisión multimedia a dispositivos</td>
                    <td>Estimación de emisiones: 86 kg de CO₂e</td>
                  </tr>
                </table>  
              </td>   
            </tr> 
            <tr>
              <td>
                <ion-radio></ion-radio>
              </td>
              <td>Qantas</td>
              <td>12/02/2020</td>
              <td>12/02/2020</td>
              <td>                
                                              
                <ion-button size="large" color="default"  (click)="toggleDetail($event)">
                  <ion-icon slot="icon-only"  ios="eye" md="settings-sharp"></ion-icon>
                </ion-button> 
              </td>   
            </tr>  
            <tr class="detail">
              <td colspan="5">
                <table>
                  <tr>
                    <td>Vuelo de ida</td>
                    <td>lun, 27 may</td>
                  </tr>
                  <tr>
                    <td>80 kg de CO2e</td>
                    <td> -6% de emisiones</td>
                  </tr>
                  <tr>
                    <td>8:45 p.m.Aeropuerto de Brisbane (BNE)</td>
                    <td>Tiempo de viaje: 1 h 30 min</td>
                  </tr>
                  <tr>
                    <td>10:15 p.m.Aeropuerto Internacional Kingsford Smith (SYD)</td>
                    <td>Jetstar</td>
                  </tr>
                  <tr>
                    <td>Clase turista</td>
                    <td>Airbus A320JQ 825</td>
                  </tr>
                  <tr>
                    <td>Poco espacio para extender las piernas (74 cm)</td>
                    <td>Estimación de emisiones: 80 kg de CO₂e</td>
                  </tr>
                  <tr>
                    <td>Vuelo de regreso</td>
                    <td>vie, 31 may</td>
                  </tr>
                  <tr>
                    <td>86 kg de CO2e</td>
                    <td>Emisiones prom.</td>
                  </tr>
                  <tr>
                    <td>7:30 p.m.Aeropuerto Internacional Kingsford Smith (SYD)</td>
                    <td>Tiempo de viaje: 1 h 30 min</td>
                  </tr>
                  <tr>
                    <td>9:00 p.m.Aeropuerto de Brisbane (BNE)</td>
                    <td>Virgin Australia</td>
                  </tr>
                  <tr>
                    <td>Clase turista</td>
                    <td>Boeing 737VA 985</td>
                  </tr>
                  <tr>
                    <td>Espacio promedio para extender las piernas (79 cm)</td>
                    <td>Asientos con puertos USB</td>
                  </tr>
                  <tr>
                    <td>Se incluye transmisión multimedia a dispositivos</td>
                    <td>Estimación de emisiones: 86 kg de CO₂e</td>
                  </tr>
                </table>  
              </td>   
            </tr> 
          
          </tbody>
        </table>  
      </ion-radio-group>
        <ion-button color="secondary"  [disabled]="!isRadioButtonSelected"  routerLink="/buscaralojamiento">Buscar alojamiento</ion-button>
      </div>
    </section> 
  </div>
</ion-content>

   <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime"></ion-datetime>
              </ng-template>
            </ion-modal>