<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/mensajes">
      <ion-icon slot="icon-only" ios="mail" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div id="container">
    <section class="maintitle  flexhor paddinghor"> 
      <div>
        <img src="../../assets/user.png" />
      </div>
      <div>
         <h1>Maria Guajardo</h1>
      </div>
      <div>
        <ion-button size="large"  routerLink="/">
          <ion-icon slot="icon-only" ios="arrow-back" md="settings-sharp"></ion-icon>
        </ion-button>
      </div>
    </section>
    <section class="paddinghor topborder conversacion">  

      <div>
        <img src="../../assets/user3.png" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>    
      </div>

      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <img src="../../assets/user2.png" />  
      </div>

      <div>
        <img src="../../assets/user3.png" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>    
      </div>

      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <img src="../../assets/user2.png" />  
      </div>

      <div>
        <img src="../../assets/user3.png" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>    
      </div>

      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>  
        <img src="../../assets/user2.png" />  
      </div>
    </section> 
  </div>
</ion-content>
<section class="inputext">
  
  <ion-input></ion-input>  
  <ion-button shape="round">
    <ion-icon slot="icon-only" name="send"></ion-icon>
  </ion-button>
</section>