<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/mensajes">
      <ion-icon slot="icon-only" ios="mail" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div id="container">
   
    <section class="paddinghor  "> 
      <div class="flexhor sectionTitle">
        <div>
          <h2>Viaje a cancun</h2> 
          <h3>Resultados</h3>
        </div> 
        <div>
          <ion-button color="secondary" routerLink="/votacion" style="width:100%;text-align:center;" >Votar</ion-button>
        </div>
      </div>
      <div> 
        <table class="voting">
          <tr>
            <th>Vuelos</th>
            <th><img src="../../assets/user.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user2.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user3.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user4.png" style="width: 20px;height: auto;"/></th>
          </tr>
          <tr>
            <td>Qantas</td>
            <td>☆</td>
            <td>☆</td>
            <td>★</td>
            <td>★</td>
          </tr>
          <tr>
            <td>LAN</td>
            <td>★</td>
            <td>☆</td>
            <td>★</td>
            <td>★</td>
          </tr>
          <tr>
            <td>JETSTAR</td>
            <td>☆</td>
            <td>★</td>
            <td>☆</td>
            <td>★</td>
          </tr>
        </table>
      </div>
      <div> 
        <table class="voting">
          <tr>
            <th>Hoteles</th>
            <th><img src="../../assets/user.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user2.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user3.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user4.png" style="width: 20px;height: auto;"/></th>
          </tr>
          <tr>
            <td>Sheraton</td>
            <td>☆</td>
            <td>☆</td>
            <td>★</td>
            <td>★</td>
          </tr>
          <tr>
            <td>Ritz</td>
            <td>★</td>
            <td>☆</td>
            <td>★</td>
            <td>★</td>
          </tr>
          <tr>
            <td>Holliday</td>
            <td>☆</td>
            <td>★</td>
            <td>☆</td>
            <td>★</td>
          </tr>
        </table>
      </div>
      <div> 
        <table class="voting">
          <tr>
            <th>Actividades</th>
            <th><img src="../../assets/user.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user2.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user3.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user4.png" style="width: 20px;height: auto;"/></th>
          </tr>
          <tr>
            <td>Paseo</td>
            <td>☆</td>
            <td>☆</td>
            <td>★</td>
            <td>★</td>
          </tr>
          <tr>
            <td>Fiesta</td>
            <td>★</td>
            <td>☆</td>
            <td>★</td>
            <td>★</td>
          </tr>
          <tr>
            <td>Tour</td>
            <td>☆</td>
            <td>★</td>
            <td>☆</td>
            <td>★</td>
          </tr>
        </table>
      </div>
      <div> 
        <table class="voting">
          <tr>
            <th>Restaurantes</th>
            <th><img src="../../assets/user.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user2.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user3.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user4.png" style="width: 20px;height: auto;"/></th>
          </tr>
          <tr>
            <td>Rest 1</td>
            <td>☆</td>
            <td>☆</td>
            <td>★</td>
            <td>★</td>
          </tr>
          <tr>
            <td>Rest 2</td>
            <td>★</td>
            <td>☆</td>
            <td>★</td>
            <td>★</td>
          </tr>
          <tr>
            <td>Rest 3</td>
            <td>☆</td>
            <td>★</td>
            <td>☆</td>
            <td>★</td>
          </tr>
        </table>
      </div>
      <div> 
        <table class="voting">
          <tr>
            <th>Transporte</th>
            <th><img src="../../assets/user.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user2.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user3.png" style="width: 20px;height: auto;"/></th>
            <th><img src="../../assets/user4.png" style="width: 20px;height: auto;"/></th>
          </tr>
          <tr>
            <td>BUS</td>
            <td>☆</td>
            <td>☆</td>
            <td>★</td>
            <td>★</td>
          </tr>
          <tr>
            <td>BOTE</td>
            <td>★</td>
            <td>☆</td>
            <td>★</td>
            <td>★</td>
          </tr>
          <tr>
            <td>CABALLO</td>
            <td>☆</td>
            <td>★</td>
            <td>☆</td>
            <td>★</td>
          </tr>
        </table>
      </div>
    </section> 
  </div>
</ion-content>
