<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/votacion">
      <ion-icon slot="icon-only" ios="star-half" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div id="container">
    <section>
      
      <div class="flexhor sectionTitle">
        <div>
          <h2 *ngIf="viaje">
            <ion-icon name="compass"></ion-icon> {{ getDestinoNombre(viaje.id_ubicacion) }} </h2> 
        </div> 
      </div>
    </section> 
    <section class="padAll">
      <div *ngIf="viaje">   
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ getDestinoNombre(viaje.id_ubicacion) }}</ion-card-title>
            <ion-card-subtitle>{{ getVueloNombre(viaje.id_vuelo_ida) }} - {{ getVueloNombre(viaje.id_vuelo_vuelta) }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="{{ getUsuarioNombre(viaje.id_organizador) }}" src="{{ getUsuarioFoto(viaje.id_organizador) }}" />
                </ion-thumbnail>
                <ion-label>Organizado por: {{ getUsuarioNombre(viaje.id_organizador) }}</ion-label>
              </ion-item>
         
              <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                </ion-thumbnail>
                <ion-label>Participantes: {{ getAmigosNombre(viaje.id_usuarios) }}</ion-label>
              </ion-item>
         
                  
                <ion-item *ngFor="let restaurante of selectedRestaurantes; let i = index">
                  <ion-thumbnail slot="start">
                    <img alt=" {{ restaurante.nombre }} " src=" {{ restaurante.foto }} " />
                  </ion-thumbnail>
                  <ion-label> {{ restaurante.nombre }} </ion-label>
                  <p>0 votos</p>
                </ion-item>
               
              
                <ion-item *ngFor="let actividad of selectedActividades; let i = index">
                  <ion-thumbnail slot="start">
                    <img alt=" {{ actividad.nombre }} " src="{{ actividad.foto }}" />
                  </ion-thumbnail>
                  <ion-label> {{ actividad.nombre }} </ion-label>
                  <p>0 votos</p>
                </ion-item>
               
              
              
              <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <img alt="{{ getAlojamientoNombre(viaje.id_alojamiento) }}" src="{{ getAlojamientoFoto(viaje.id_alojamiento) }}" />
                </ion-thumbnail>
                <ion-label> {{ getAlojamientoNombre(viaje.id_alojamiento) }}</ion-label> 
              </ion-item>

 
            </ion-list>
          </ion-card-content>
        </ion-card>
        
      
      </div>
      <div *ngIf="!viaje">
        <p>No se encontró el viaje.</p>
      </div>
      
    </section>
  </div>
</ion-content>
