<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/mensajes">
      <ion-icon slot="icon-only" ios="mail" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

  <div id="container">
    <section class="maintitle  flexhor paddinghor"> 
      <div>
         <h1>Total del viaje</h1>
         <h6>USD $1.234</h6>
      </div>
      <div>
        <ion-button size="large"  routerLink="/misviajes">
          <ion-icon slot="icon-only" ios="arrow-back" md="settings-sharp"></ion-icon>
        </ion-button>
      </div>
    </section>
    <section class="paddinghor topborder flexhor nomarginp">    
      <p>Precio por persona</p>
      <p>USD $250.000</p>
    </section> 
    <section class="paddinghor flexhor nomarginp">    
      <p>Fecha del viaje</p>
      <p>14/12/2023 - 30/12/2023</p>
    </section> 
  </div> 
<ion-content [fullscreen]="true"> 
  <section class="resumen">
    <div class="resumentitle">
      <ion-icon  ios="business" md="settings-sharp"></ion-icon>
      <h3>Alojamientos</h3>
    </div>
    <div> 
       <h5>Hotel Raddison. <br>63 O'Connell Tce. Bowen Hills QLD 4006</h5>
       <table>
        <tr>
          <td>
            <p>Habitacion doble con bano compartido <br>
              2 camas dobles <br>
              Cancelacion gratuita <br>
              7 noches , 4 adultos</p>
          </td>
          <td>
            <h6>USD $96</h6>
            <h6>TOTAL USD $356</h6>
          </td>
        </tr> 
       </table>
      
    </div>
  </section>
</ion-content>



 
<section class="submenu"> 
  <div>
    <ion-button  routerLink="/resumenamigos" expand="full">
      <ion-icon name="people"></ion-icon>
      
    </ion-button></div>
  <div>
    <ion-button routerLink="/resumenalojamiento"expand="full">
      <ion-icon name="business"></ion-icon>
      
    </ion-button></div>
  <div>
    <ion-button routerLink="/resumenvuelos"expand="full">
      <ion-icon name="airplane"></ion-icon>
      
    </ion-button></div>
  <div>
    <ion-button routerLink="/resumenactividades"expand="full">
      <ion-icon name="balloon"></ion-icon>
      
    </ion-button></div>
  <div>
    <ion-button routerLink="/resumenrestaurantes"expand="full">
      <ion-icon name="restaurant"></ion-icon>
      
    </ion-button></div>
  <div>
    <ion-button routerLink="/resumentransporte"expand="full">
      <ion-icon name="bus"></ion-icon>
      
    </ion-button> </div>
</section>