<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/mensajes">
      <ion-icon slot="icon-only" ios="mail" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div id="container">
    <section class="maintitle  flexhor paddinghor"> 
      <div>
         <h1>Seleccionar destino</h1>
      </div>
      <div>
        <ion-button size="large"  routerLink="/">
          <ion-icon slot="icon-only" ios="arrow-back" md="settings-sharp"></ion-icon>
        </ion-button>
      </div>
    </section>
    <section class="paddinghor topborder">  
      <div   >
        <ion-list>
          <ion-item class="bgwhite">
            <ion-select label="Continente" label-placement="Floating " placeholder="Continente">
              <ion-select-option value="conti1">Asia</ion-select-option>
              <ion-select-option value="conti3">America</ion-select-option>
              <ion-select-option value="conti3">Europa</ion-select-option>
              <ion-select-option value="conti3">Africa</ion-select-option>
              <ion-select-option value="conti3">Oceania</ion-select-option>
            </ion-select>
          </ion-item>
        
          <ion-item class="bgwhite">
            <ion-select label="Pais" label-placement="Floating " placeholder="Pais">
              <ion-select-option value="pais1">Albania Indonesia
                Alemania Irak
              </ion-select-option> 
              <ion-select-option value="pais1">Angola Irlanda (Eire)
              </ion-select-option> 
              <ion-select-option value="pais1">Antigua y Barbuda Islas Feroe
              </ion-select-option> 
              <ion-select-option value="pais1">Argentina Islas Vírgenes (Norteamericanas)
              </ion-select-option> 
              <ion-select-option value="pais1">Aruba Israel
              </ion-select-option> 
              <ion-select-option value="pais1">Australia Italia
              </ion-select-option> 
              <ion-select-option value="pais1">Bahamas Jamaica
              </ion-select-option> 
            </ion-select>
          </ion-item>
         
        </ion-list>
      </div> 
      <div class="results"> 
        <ion-radio-group value="strawberries"  [(ngModel)]="isRadioButtonSelected">
          <table>
            <thead>
              <tr>
                <th> </th>
                <th>Ciudad</th>
                <th>Costo</th>
                <th>Valoracion</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <ion-radio></ion-radio>
                </td>
                <td>Ciudad 1</td>
                <td>$$$$$</td>
                <td>    
                  ★★★☆☆         
                </td>
                <td>                              
                  <ion-button size="large" color="default"  (click)="toggleDetail($event)">
                    <ion-icon slot="icon-only"  ios="eye" md="settings-sharp"></ion-icon>
                  </ion-button>
                </td>   
              </tr>  
              <tr class="detail">
                <td colspan="5">
                    <img src="../../assets/city.png" /> 
                </td>   
              </tr> 
              <tr>
                <td>
                  <ion-radio></ion-radio>
                </td>
                <td>Ciudad 2</td>
                <td>$$$$</td>
                <td>    
                  ★☆☆☆☆         
                </td>
                <td>                              
                  <ion-button size="large" color="default"  (click)="toggleDetail($event)">
                    <ion-icon slot="icon-only" ios="eye" md="settings-sharp"></ion-icon>
                  </ion-button>
                </td>   
              </tr>  
              <tr class="detail">
                <td colspan="5">
                    <img src="../../assets/city.png" /> 
                </td>   
              </tr> 
              <tr>
                <td>
                  <ion-radio></ion-radio>
                </td>
                <td>Ciudad 3</td>
                <td>$$</td>
                <td>    
                  ★★★★★         
                </td>
                <td>                              
                  <ion-button size="large" color="default"  (click)="toggleDetail($event)">
                    <ion-icon slot="icon-only"  ios="eye" md="settings-sharp"></ion-icon>
                  </ion-button>
                </td>   
              </tr>  
              <tr class="detail">
                <td colspan="5">
                    <img src="../../assets/city.png" /> 
                </td>   
              </tr>  
            </tbody>
          </table>  
        </ion-radio-group>
        <ion-button color="secondary" [disabled]="!isRadioButtonSelected"  routerLink="/planearviaje">Invitar amigos</ion-button>
      </div>
    </section> 
  </div>
</ion-content>
