<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/mensajes">
      <ion-icon slot="icon-only" ios="mail" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div id="container">
   
    <section class="paddinghor  "> 
      <div class="flexhor sectionTitle">
        <div>
          <h2>Mis Viajes</h2> 
        </div>
        <div>
          <ion-button color="secondary" routerLink="/seleccionardestino" style="width:100%;text-align:center;" >Crear viaje</ion-button>
        </div>
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <th>Viaje</th>
              <th>Fecha</th>
              <th colspan="3"> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cancun 1</td>
              <td>12/03/2023</td>
              <td>                              
                <ion-button size="large" color="default" routerLink="/detalle" >
                  <ion-icon slot="icon-only" ios="eye" md="settings-sharp"></ion-icon>
                </ion-button>
              </td> 
              <td>                              
                <ion-button size="large" color="default">
                  <ion-icon slot="icon-only" ios="trash" md="settings-sharp"></ion-icon>
                </ion-button>
              </td>
            </tr>
        
            <tr>
              <td>Cancun 1</td>
              <td>12/03/2023</td>
              <td>                              
                <ion-button size="large" color="default" routerLink="/detalle" >
                  <ion-icon slot="icon-only" ios="eye" md="settings-sharp"></ion-icon>
                </ion-button>
              </td> 
              <td>                              
                <ion-button size="large" color="default">
                  <ion-icon slot="icon-only" ios="trash" md="settings-sharp"></ion-icon>
                </ion-button>
              </td>
            </tr>
        
          </tbody>
        </table> 
      </div>
    </section> 
  </div>
</ion-content>
