<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/votacion">
      <ion-icon slot="icon-only" ios="star-half" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div id="container">
   
    <section class="   "> 
      <div class="flexhor sectionTitle">
        <div>
          <h2>
          <ion-icon name="restaurant"></ion-icon>
          Restaurantes economicos</h2> 
        </div> 
      </div>
      <div>
        <section class="">  
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>Filtros</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">                    
                <ion-list>
                  <ion-item class="bgwhite"> 
                    <ion-select label="Continente" label-placement="Floating" placeholder="Continente" id="continente">
                    </ion-select>                
                  </ion-item>
                
                  <ion-item class="bgwhite"> 
                    
                    <ion-select label="País" label-placement="Floating" placeholder="País" id="pais">
                    </ion-select>

                  </ion-item>
                
                  <ion-item class="bgwhite"> 
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </ion-item>
                  <ion-item class="bgwhite"> 
                    <ion-button size="small">$</ion-button>
                    <ion-button size="small">$</ion-button>
                    <ion-button size="small">$</ion-button>
                    <ion-button size="small">$</ion-button>
                    <ion-button size="small">$</ion-button>
                  </ion-item>
                  
                  <ion-item class="bgwhite"> 
                    <ion-checkbox>Vegano</ion-checkbox>
                    <ion-checkbox>Halal</ion-checkbox>
                    <ion-checkbox>Mascotas</ion-checkbox>
                  </ion-item>
                   
                  <ion-item class="bgwhite"> 
                    <ion-datetime-button datetime="datetime"></ion-datetime-button>

                    <ion-modal [keepContentsMounted]="true">
                      <ng-template>
                        <ion-datetime id="datetime"></ion-datetime>
                      </ng-template>
                    </ion-modal>
                  </ion-item>
                  <ion-item class="bgwhite"> 
                  
                    <ion-button>
                      <ion-icon slot="start" name="filter"></ion-icon>
                      Filter
                    </ion-button>
                  </ion-item>
                </ion-list>
              </div>
            </ion-accordion> 
          </ion-accordion-group> 
          <div class="results">  
            
            <ion-card  *ngFor="let item of items">
              <img alt="{{ item.nombre }}" src="{{ item.foto }}" />
              <ion-card-header>
                <ion-card-title>{{ item.nombre }}</ion-card-title> 
                <ion-card-subtitle>
                  <ion-icon *ngFor="let star of utils.getStars(item.valoracion)" name="star"></ion-icon>
                </ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>  
                <p><span *ngFor="let precio of utils.getStars(item.precio)">$</span> </p>
                <p>{{ item.descripcion }}</p> 
                <p>Vegano: {{ item?.vegano ? 'Si' : 'No' }}</p>
                <p>Mascotas: {{ item?.mascotas ? 'Si' : 'No' }}</p>
                <p>Halal: {{ item?.halal ? 'Si' : 'No' }}</p>
              </ion-card-content>
            </ion-card> 
               
          </div>
        </section> 
      </div>
    </section>
  </div>
</ion-content>
