<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/votacion">
      <ion-icon slot="icon-only" ios="star-half" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div id="container">
   
    <section class="   "> 
      <div class="flexhor sectionTitle">
        <div>
          <h2>
            <ion-icon name="help-buoy"></ion-icon> Ayuda</h2> 
        </div> 
      </div>
      <div>
        <section class="paddinghor  ">   
          <div class="results">  
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor efficitur vehicula. Aenean elementum magna at blandit efficitur. Sed pulvinar at lectus ut imperdiet. Duis ut leo leo. Vivamus aliquet mauris ac nibh pretium vestibulum. In id felis sit amet lorem efficitur vestibulum. Maecenas facilisis felis ut nisl efficitur, nec tincidunt nibh condimentum. Proin euismod pellentesque pulvinar. Nulla facilisi. Duis mi velit, blandit vel dui quis, eleifend vulputate nunc. Vivamus odio orci, venenatis porttitor varius sit amet, hendrerit sed mauris. Suspendisse fermentum metus gravida quam elementum convallis. Suspendisse potenti. Vestibulum a nibh urna.</p>
          </div>
        </section> 
      </div>
    </section>
  </div>
</ion-content>
