<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/votacion">
      <ion-icon slot="icon-only" ios="star-half" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div id="container">
   
    <section class="   "> 
       
      <div class="flexhor sectionTitle">
        <div>
          <h2>
          <ion-icon name="star-half"></ion-icon>
          Votaciones</h2> 
        </div> 
      </div>
      <div>
        <h3 class="subsubtitle">Selecciona un viaje:  </h3> 
        <ion-select  class="paddinghor" label="Viaje" label-placement="Floating" placeholder="Seleccione viaje" id="viaje" [(ngModel)]="selectedViajeId" (ionChange)="onViajeChange($event)">
          <ion-select-option *ngFor="let viaje of viajes" [value]="viaje.id_viaje"> 
              {{ getDestinoNombre(viaje.id_ubicacion) }}
          </ion-select-option>
        </ion-select>
      </div>
      <div class=" " *ngIf="selectedViaje">   
        <h3 class="subsubtitle">Vota por un restaurante:  </h3> 


        <ion-card *ngFor="let restaurante of selectedRestaurantes; let i = index">
          <img alt="{{ restaurante.nombre }}" src="{{ restaurante.foto }}" />
          <ion-card-header>
            <ion-card-title>{{ restaurante.nombre }}</ion-card-title>
            <ion-card-subtitle>
              <ion-icon *ngFor="let star of utils.getStars(restaurante.valoracion)" name="star"></ion-icon>
              <span *ngFor="let precio of utils.getStars(restaurante.precio)">$</span></ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            {{ restaurante.descripcion }}
            <p><ion-checkbox> </ion-checkbox></p>
          </ion-card-content>
        </ion-card>

        <h3 class="subsubtitle">Vota por las Actividades:  </h3> 



        <ion-card *ngFor="let actividad of selectedActividades; let i = index">
          <img alt="{{ actividad.nombre }}" src="{{ actividad.foto }}" />
          <ion-card-header>
            <ion-card-title>{{ actividad.nombre }}</ion-card-title>
            <ion-card-subtitle>
              <ion-icon *ngFor="let star of utils.getStars(actividad.valoracion)" name="star"></ion-icon>
              <span *ngFor="let precio of utils.getStars(actividad.precio)">$</span></ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            {{ actividad.descripcion }}
            <p><ion-checkbox> </ion-checkbox></p>
          </ion-card-content>
        </ion-card>
 
      <ion-button color="secondary"  (click)="gotodetalle()">Votar</ion-button>
      </div>
    </section> 
  </div>
</ion-content>
