<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/votacion">
      <ion-icon slot="icon-only" ios="star-half" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div id="container">
   
    <section class="   "> 
      <div class="flexhor sectionTitle">
        <div>
          <h2>
          <ion-icon name="airplane"></ion-icon>
          Vuelos en oferta</h2> 
        </div> 
      </div>
      <div>
        <section class="">  
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>Filtros</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">                    
                <ion-list>
                  <ion-item class="bgwhite"> 
                    <ion-select label="Continente" label-placement="Floating" placeholder="Continente" id="continente">
                    </ion-select>                
                  </ion-item>
                
                  <ion-item class="bgwhite"> 
                    
                    <ion-select label="País" label-placement="Floating" placeholder="País" id="pais">
                    </ion-select>

                  </ion-item>
                
                  <ion-item class="bgwhite"> 
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </ion-item>
                  <ion-item class="bgwhite"> 
                    <ion-button size="small">$</ion-button>
                    <ion-button size="small">$</ion-button>
                    <ion-button size="small">$</ion-button>
                    <ion-button size="small">$</ion-button>
                    <ion-button size="small">$</ion-button>
                  </ion-item>
                   
                   
                  <ion-item class="bgwhite"> 
                    <ion-datetime-button datetime="datetime"></ion-datetime-button>

                    <ion-modal [keepContentsMounted]="true">
                      <ng-template>
                        <ion-datetime id="datetime"></ion-datetime>
                      </ng-template>
                    </ion-modal>
                  </ion-item>
                  <ion-item class="bgwhite"> 
                  
                    <ion-button>
                      <ion-icon slot="start" name="filter"></ion-icon>
                      Filter
                    </ion-button>
                  </ion-item>
                </ion-list>
              </div>
            </ion-accordion> 
          </ion-accordion-group> 
          <div class="results">  
            
            <ion-list>
              <ion-item *ngFor="let item of items">
                <ion-label>
                  <h2>{{ item.aerolinea }}</h2>  
                  <p>
                    <ion-icon *ngFor="let star of utils.getStars(item.valoracion)" name="star"></ion-icon>
                  </p> 
                  <p><span *ngFor="let precio of utils.getStars(item.precio)">$</span> </p> 
                  <p>{{ item.codigo_vuelo }}</p>
                  <p>{{ item.fecha }}</p>
                  <p>{{ item.hora_despegue }}</p>
                </ion-label> 
              </ion-item>
            </ion-list> 
          </div>
        </section> 
      </div>
    </section>
  </div>
</ion-content>
