<ion-header [translucent]="true"  >
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
    <img src="../../assets/logotravel.png" />
    <ion-button size="large" routerLink="/votacion">
      <ion-icon slot="icon-only" ios="star-half" md="settings-sharp"></ion-icon>
    </ion-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

    <ion-content [fullscreen]="true"> 

      <div id="container">
      
        <section class="   "> 
          <div class="flexhor sectionTitle  "> 
            <div>
               <h2>Invitar amigos</h2>
            </div>
            <div>
              <ion-button size="large"  routerLink="/">
                <ion-icon slot="icon-only" ios="arrow-back" md="settings-sharp"></ion-icon>
              </ion-button>
            </div>
          </div>
          <section class="">     
            <ion-card *ngFor="let item of items" class="whitebg">             
              <ion-card-content> 
                <div class="flexhor">
                  <div>
                    <div class="flexhor left">
                      <img src="{{ item.foto }}" width="50"/>  
                      <div>
                        <h6>{{ item.name }}</h6>
                        <h4> {{ item.apellido }}</h4>
                      </div>
                    </div>
                    <div class="flexhor left">
                      <p *ngIf="item.vegano === 1">VEGANO </p>  
                      <p *ngIf="item.mascotas === 1">MASCOTAS </p> 
                      <p *ngIf="item.halal === 1">HALAL </p> 
                    </div>
                  </div>
                  <div>     
                    <ion-checkbox (ionChange)="onCheckboxChange(item.id, $event.detail.checked)"></ion-checkbox>
                  </div>     
                </div>           
              </ion-card-content> 
            </ion-card>           
             
          </section> 
        </section> 
      </div>
    </ion-content>  
    <ion-footer>
      <ion-toolbar class="flexhor">
        <span>
          <ion-button  size="small"  routerLink="../amigos">
            <ion-icon slot="icon-only"  ios="people"></ion-icon>           
          </ion-button>
          <ion-button  size="small" routerLink="../destino" >
            <ion-icon slot="icon-only" ios="compass"></ion-icon>           
          </ion-button>
          <ion-button  size="small" routerLink="../vuelo">
            <ion-icon slot="icon-only" ios="airplane"></ion-icon>           
          </ion-button>
          <ion-button  size="small" routerLink="../alojamiento">
            <ion-icon slot="icon-only" ios="business"></ion-icon>
           </ion-button>
          <ion-button   size="small" routerLink="../restaurantes">
            <ion-icon slot="icon-only" ios="restaurant"></ion-icon>           
          </ion-button> 
          <ion-button  size="small" routerLink="../actividades">
            <ion-icon slot="icon-only" ios="balloon"></ion-icon>           
          </ion-button> 
        </span>
        <span>
          <ion-button size="small" color="secondary" routerLink="/nuevoviaje/destino">
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
            Siguiente
          </ion-button>
        </span>
      </ion-toolbar>
    </ion-footer>
        